table {
  width: 100%;
  table-layout: fixed;
  border-spacing: 1rem 0.25rem;
}
th {
  font-weight: bold;
  padding-bottom: 0.5rem;
}
.frame {
  border: solid 1px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.frame + .frame {
  margin-top: 1rem;;
}

/*
th,
td {
  border: solid 1px rgba(0, 0, 0, 0.25)
}
*/
