* {
  font: inherit;
  margin: 0;
  padding: 0;
  text-align: inherit;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-size: 10px;
  line-height: 1.5;
  text-align: left;
}
body {
  margin-left: auto;
  margin-right: auto;
  padding: 12px;
  width: 1024px;
}

.u-tal {
  text-align: left;
}
.u-tac {
  text-align: center;
}
.u-tar {
  text-align: right;
}
.u-bold {
  font-weight: bold;
}
